@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: #d8eef2; */
    background-image: url('../assets/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-logo {
    width: 375px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.label-container {
    width: 50%;
    align-self: center;
}

.label {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}

.input {
    height: 40px;
    width: 40%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0 15px;
    margin-bottom: 15px;
    outline: none;
}

.input::placeholder {
    color: #cfcfcf;
}

.login-button {
    background-color: #3dacbd;
    width: 40%;
    height: 40px;
    border-radius: 8px;
    margin-top: 15px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.input, .login-button {
    box-sizing: border-box;
    width: 50%;
}

.login-button:hover {
    background-color: #9ed6de;
    transform: scale(1.05);
}

.login-button:active {
    transform: scale(0.95);
}

.signup-container {
    margin-top: 5px;
}

.signup-label {
    font-size: 12px;
}

.signup-link {
    font-size: 12px;
    font-weight: bold;
}