@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.main-container * {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: flex-end   ;
    align-items: center;
    background-color: white;
    background-image: url('../assets/login-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 375px;
    height: 50px;
    top: 25px;
    left: 60px;
}

.bg-element {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: 0px;
    left: 0px;
}

.container {
    margin-top: 0px;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 30px;
}

.ngitify-title {
    font-weight: bold;
    color: #1a6575;
}

.label-container {
    width: 60%;
    margin-left: 40px;
}

.label {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.input-field {
    height: 40px;
    width: 60%;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0 15px;
    margin-bottom: 5px;
    outline: none;
}

.input::placeholder {
    color: #cfcfcf;
}

.forgotpass-container {
    width: 60%;
    margin-right: 20px;
}

.forgotpass-label {
    text-align: right;
    font-size: 10px;
    color: #005466;
}

.error {
    color: red;
    font-size: 10px;
}

.login-button {
    background-color: #005466;
    width: 60%;
    height: 40px;
    border-radius: 50px;
    margin-top: 15px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.login-button:hover {
    background-color: #337685;
    transform: scale(1.05);
}

.login-button:active {
    transform: scale(0.95);
}

.googlelogin-button {
    background-color: white;
    border: 1px solid #005466;
    border-radius: 50px;
    width: 60%;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.googlelogin-button:hover {
    transform: scale(1.05);
    border: 1px solid #337685;
}

.googlelogin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.google-logo {
    width: 25px;
    height: 25px;
    display: block;
}

.googlelogin-label {
    font-weight: bold;
    display: block;
    margin: 0;
    white-space: nowrap;
}

.input-field, .login-button , .googlelogin-button {
    box-sizing: border-box;
    width: 60%;
}

.signup-container {
    margin-top: 5px;
}

.signup-label {
    font-size: 12px;
}

.signup-link {
    font-size: 12px;
    font-weight: bold;
}