@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.main-container * {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.main-container {
    display: flex;
    height: 100vh;
    justify-content: flex-end   ;
    align-items: center;
    background-color: white;
    background-image: url('../assets/login-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 375px;
    height: 50px;
    top: 25px;
    left: 60px;
}

.bg-element {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
}

.container {
    padding: 0 20px 20px 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.page-title p {
    margin: 0;
    margin-bottom: 10px;
}

.newpass-title {
    font-weight: bold;
    color: #1a6575;
}

.page-header {
    font-size: 15px;
    margin-bottom: 20px;
}

.page-header p {
    margin: 0;
}

.label-container {
    width: 60%;
    margin-left: 40px;
}

.label {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.input-field {
    height: 40px;
    width: 60%;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0 15px;
    margin-bottom: 5px;
    outline: none;
}

.input::placeholder {
    color: #cfcfcf;
}

.strength {
    font-size: 10px;
    font-weight: bold;
    width: 60%;
    margin-left: 40px;
}

.weak { color: #ff4d4d; }
.moderate { color: #ffa500; }
.strong { color: #2eb82e; }

.error {
    color: red;
    font-size: 10px;
    font-weight: bold;
}

.input-field, .enter-button {
    box-sizing: border-box;
    width: 60%;
}

.enter-button {
    background-color: #005466;
    width: 60%;
    height: 40px;
    border-radius: 50px;
    margin-top: 15px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.enter-button:hover {
    background-color: #337685;
    transform: scale(1.05);
}

.enter-button:active {
    transform: scale(0.95);
}

.enter-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    transform: none;
}