.sidebar {
    width: 415px;
    height: 100vh;
    background-color: #0c5359;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 20px;
}

.sidebar-logo {
    width: 375px;
    height: 50px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
}

.nav-item {
    color: white;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #86a9ac;
    color: white;
}

.nav-item.active {
    background-color: #3d757a;
    color: white;
}