.sidebar {
    width: 85px;
    height: calc(100vh - 40px);
    background-color: #005466;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: fixed;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 10px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.nav-logo {
    color: white;
    margin-bottom: 20px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-item {
    color: #ccdde0;
    padding: 12px;
    border-radius: 12px;
    transition: 0.3s all ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    color: white;
    background-color: #337685;
}

.nav-item.active {
    background-color: #6698a3;
    color: white;
}